<h1 style="color:orange;" class="cyan accent-1">Menu Options</h1>
<div class="center card light-blue">
  <div class="card-content white-text">

    <img src="/images/eggs.jpeg" alt="eggs" width="200" height="200"/>
    <img src="/images/oatmeal.jpg" alt="oatmeal" width="200" height="200"/>
    <img src="/images/waffles.jpg" alt="waffles" width="200" height="200"/>
    <h3>Breakfast</h3>

    <a href="/apps/new" class="btn-floating btn-large waves-effect waves-light orange">
      <i class="material-icons">restaurant_menu</i>
    </a>
  </div>
</div>

<div class="center card light-blue">

  <img src="/images/blt.jpg" alt="blt" width="200" height="200"/>
  <img src="/images/soup.jpg" alt="soup" width="200" height="200"/>
  <img src="/images/tacos.jpg" alt="tacos" width="200" height="200"/>
  <div class="card-content white-text">
    <h3>Lunch</h3>
    <a href="/apps/new" class="btn-floating btn-large waves-effect waves-light orange">
      <i class="material-icons">restaurant_menu</i>
    </a>
  </div>
</div>
<div class="center card light-blue">

  <img src="/images/alfredo.jpeg" alt="alfredo" width="200" height="200"/>
  <img src="/images/kale.jpg" alt="kale" width="200" height="200"/>
  <img src="/images/steak.jpg" alt="steak" width="200" height="200"/>
  <div class="card-content white-text">
    <h3>Dinner</h3>
    <a href="/apps/new" class="btn-floating btn-large waves-effect waves-light orange">
      <i class="material-icons">restaurant_menu</i>
    </a>
  </div>
</div>