<nav class="teal accent-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
      <font color="FFA700">Alicia's Diner</font>
    </a>
    <ul id="nav-mobile" class="right">
      <li>
        <a href="/apps">
          <font color="FFA700">My Menu</font>
        </a>
      </li>
      <li>
        <a href="/apps/new">
          <font color="FFA700">See All Options</font>
        </a>
      </li>
    </ul>
  </div>
</nav>