<h1 class="center">Main Menu</h1>
<form method="POST" action="/apps">
  <div class="input-field">
    <input id="title" required="required" name="title"/>
    <label class="active" for="title">Title</label>
  </div>
  <div class="input-field">
    <textarea class="materialize-textarea" id="desc" required="required" name="description"></textarea>
    <label for="desc" class="active">Description</label>
  </div>
  <button class="btn-floating btn-large waves-effect waves-light orange" type="submit">Save</button>
</form>